.about-container {
    display: flex;
    flex-direction: row;

    img {
        flex: 1;
        max-width: 50vw;
        height: 315px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    // box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    // justify-content: space-between;

    p {
        line-height: 1.1rem;
    }
}

// .card-info {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }