.projects-container {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px;

    overflow: scroll;
}

.projects-card {
    position: relative;
    width: 250px;
    height: 400px;
    // box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.3);
    background: linear-gradient(to left top,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.5));
    margin: 10px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);

    border-radius: 2em;
    // border-top: 1px solid rgba(255, 255, 255, 0.9);
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-backdrop-filter: blur(10px);




}

.card-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.5s;

    color: #426696;

    img {
        width: 250px;
        border-radius: 2em 2em 0em 0em;
    }

}