/*colors*/

$background-1: #65dfc9;
$background-2: #6cdbeb;
$glass-1: rgba(255, 255, 255, 0.7);
$glass-2: rgba(255, 255, 255, 0.3);
$heading-1: #426696;

h1 {
  color: $heading-1;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}

.line {
  background-image: linear-gradient(to right, var($glass-1), var($glass-2));
  background-repeat: no-repeat;
  transition: background-size 0.5s ease 0s, background-position 0.5s ease 0s;
  background-size: 100% 20%;
  background-position: 0px 80%;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, $background-1, $background-2);
  // background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v502-adj-25-abstractbg_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1d8619e435dad3a774579101aaa770a7');
  // background-size: cover;
  // background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  background: white;
  min-height: 80vh;
  width: 95%;
  background: linear-gradient(to right bottom,
      $glass-1,
      $glass-2);
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

// .line {
//   background: linear-gradient(to right bottom,
//       rgba(255, 255, 255, 0.7),
//       rgba(255, 255, 255, 0.3));
//   width: 50%;
//   padding: 0.5rem;
//   border-radius: 2rem;
// }

.content {
  flex: 2;
  flex-basis: 40%;
  margin: 1rem;
}

.pb {
  width: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 0px 10px 20px;
}